<!-- index.html.erb -->
<!-- heading -->
<div class="row">
  <div class="large-12 columns">
    <h2>My menus</h2>
  </div>
</div>

<!-- content -->
<div class="row">
  <% @menus.each do |menu| %>
    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title"><%= menu.name %></li>
        <li class="description">
          <%= menu.created_at.strftime("%B %d, %Y") %>
        </li>
        <% menu.recipes.each do |r| %>
          <li class="bullet-item">
            <%= link_to r.name, recipe_path(r) %>
          </li>
        <% end %>
        <li class="cta-button"><%= link_to 'Open', menu, class: "button" %></li>
      </ul>
    </div>
  <% end %>
</div>
