<!-- index.html.erb -->

<h1>All menus</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Recipes</th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td>
            <h3><%= link_to menu.name, menu %></h3>
          <p>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_user_menu_path(current_user.id, menu) %> | <%= link_to 'Delete', menu, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </td>
        <td>
          <ul>
            <% menu.recipes.each do |r| %>
              <li>
                <%= link_to r.name, recipe_path(r) %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
