<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'Menus', controller: 'menus' %>
<%= link_to 'Ingredients', controller: 'ingredients' %>
<%= link_to 'Recipes', controller: 'recipes' %>