<!-- show.html.erb -->
<!-- errors -->
<% if @menu.errors.any? %>
  <div data-alert class="alert-box" id="notice">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<!-- heading -->
<div class="row">
  <div class="large-12 columns">
    <h2>Page title</h2>
  </div>
</div>

<!-- content -->
<div class="row">
  <!-- left column -->
  <div class="large-4 columns">
    <!-- content -->
  </div>
  <!-- right content -->
  <div class="large-8 columns">
    <!-- content -->
  </div>
</div>

<!-- index.html.erb -->
<!-- heading -->
<div class="row">
  <div class="large-12 columns">
    <h2>Page title</h2>
  </div>
  <div class="large-12 columns">
    <small>filter</small>
  </div>
</div>

<!-- content -->
<div class="row">
  <div class="large-12 columns">
    <!-- content -->
  </div>
</div>
